# Heroes of Pymoli

In [62]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [63]:
# Slice out a DataFrame of unique customers
customers = purchase_data[["SN","Gender","Age"]].drop_duplicates()
customer_count = customers.shape[0]

# Display
pd.DataFrame({"Total Number of Players" : [customer_count]}).style.hide_index()

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [64]:
# Create a DataFrame of unique items
items = purchase_data[["Item ID", "Price"]].drop_duplicates()

# Create and display a Data Analysis Summary Data Frame
pd.concat([
    items.agg({"Price" : ["count","mean"]}).transpose().rename({
        "count" : "Number of Unique Items",
        "mean" : "Average Purchase Price"}, axis=1), 
    purchase_data.agg({"Price" : ["count","sum"]}).transpose().rename({
        "count" : "Total Number of Purchases",
        "sum" : "Total Revenue"
    }, axis=1)], axis=1).style.format({
        "Number of Unique Items" : "{:.0f}".format,
        "Average Purchase Price" : "${:.2f}".format,
        "Total Number of Purchases" : "{:.0f}".format,
        "Total Revenue" : "${:,.2f}"}).hide_index()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [65]:
# Create a DataFrame with the required columns
gender_demographics = pd.concat([
    customers["Gender"].value_counts().rename("Customers"), 
    (customers["Gender"].value_counts()/customers.shape[0]).rename("Percentage")],
    axis=1).rename_axis("Gender").reset_index()

# Display
gender_demographics.style.format({"Percentage" : "{:.0%}".format}).hide_index()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [66]:
# Pivot on Gender
gender_purchases = pd \
    .pivot_table(purchase_data, values=["Price"], index="Gender", aggfunc=["count", "mean", "sum"]) \
    .droplevel(1, 1)

gender_purchases.rename(
    columns={"count" : "Purchase Count", "mean" : "Average Purchase Price", "sum" : "Total Purchase Value"}, inplace=True)

# Display
gender_purchases.style.format({
    "Average Purchase Price" : "${:.2f}".format,
    "Total Purchase Value" : "${:.2f}".format,
    "Avg by Customer" : "${:.2f}".format})

## Age Demographics

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [67]:
# Add age bins to the purchase_data DataFrame
purchase_data["age_bins"] = pd.cut(purchase_data["Age"], range(5,55,5), right=False)

# Pivot on the age bins
age_purchases = pd.pivot_table(
    purchase_data, values=["Price"], index="age_bins", aggfunc=["count", "mean", "sum"]).droplevel(1,1)

# Manipulate
customer_count_by_age = pd.cut(customers["Age"], range(5,55,5), right=False).value_counts()
age_purchases["Avg by Customer"] = age_purchases["sum"].divide(customer_count_by_age,axis=0)
age_purchases.index.rename("Age Range", inplace = "True")
age_purchases.rename(
    columns={"count" : "Purchase Count", "mean" : "Average Purchase Price", "sum" : "Total Purchase Value"},
    inplace = True)

# Display
age_purchases.style.format({
    "Average Purchase Price" : "${:.2f}".format,
    "Total Purchase Value" : "${:.2f}".format,
    "Avg by Customer" : "${:.2f}".format})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [68]:
#Pivot on the customer
spenders = pd \
    .pivot_table(purchase_data, values="Price", index="SN", aggfunc=["count", "mean", "sum"]) \
    .droplevel(1,1) \
    .sort_values(by="sum", ascending=False) \
    .rename(columns={"count" : "Purchase Count", "mean" : "Average Purchase Price", "sum" : "Total Purchase Value"})

# Display
spenders.head(5).style.format({
    "Average Purchase Price" : "${:.2f}".format,
    "Total Purchase Value" : "${:.2f}".format,
    "Avg by Customer" : "${:.2f}".format})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [69]:
# Pivot on the item
items = pd \
    .pivot_table(purchase_data, values="Price", index=["Item ID","Item Name"], aggfunc=["count", "mean", "sum"]) \
    .droplevel(1, 1) \
    .sort_values(by="count", ascending=False) \
    .rename(columns={"count" : "Purchase Count", "mean" : "Item Price", "sum" : "Total Purchase Value"})

# Display
items.head(5).style.format({
    "Item Price" : "${:.2f}".format,
    "Total Purchase Value" : "${:.2f}".format,
    "Avg by Customer" : "${:.2f}".format})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [70]:
# Re-sort the items
items.sort_values(by="Total Purchase Value", ascending=False, inplace=True)

#Display
items.head(5).style.format({
    "Item Price" : "${:.2f}".format,
    "Total Purchase Value" : "${:.2f}".format,
    "Avg by Customer" : "${:.2f}".format})

## Observable Trends
* The Heroes of Pymoli attract more than five times as many male customers than female customers
* Two percent of the customers do not know or declare their gender
* The most important age segment for this game is the 20-24 year-olds